pre {
	font-size: 1.6em;
	line-height: 0.65;
	text-align: center;
	font-family: inherit;
}

code {
	font-family: "Consolas", monospace;
}

.anchor-panel {
	position: absolute;
	left: 4px;
	bottom: 4px;
}

.popup {
	background-color: white;
	border: 1px solid black;
	padding: 4px;
}

.hidden {
	display: none;
}
